#experience.row.justify-content-center
    div
        i.fa-solid.fa-star.fa-2xl.me-2
        span.h1
            | Professional experiences

    each exp in experience
        .flip-card.mb-3
            .flip-card-inner
                .flip-card-front.card-angele.rounded
                    .card-entete
                        .black-cover
                        img(src=exp.imagePath alt=exp.what)
                        .p-3
                            h2.h5 #{exp.what}
                            span.small.text-gray
                              i.fa.fa-clock-o.me-2
                              | #{exp.when}
                    .card-content.p-3
                        each description in exp.descriptions
                            p.text-small.mt-2.font-weight-light #{description}
                    .hover-me.fixed-bottom
                .flip-card-back.card-angele.rounded
                    .card-entete
                        .black-cover
                        img(src=exp.imagePath alt=exp.what)
                        .p-3
                            h2.h5 #{exp.what}
                            span.small.text-gray
                              i.fa.fa-regular.fa-floppy-disk.me-2
                              | #{exp.technologiesTitle}
                    .p-3.row.text-center
                        each technology in exp.technologies
                            .col.mb-3
                                img(src=technology.technologyImage title=technology.technologyTitle height="50px")
