#skills.row.justify-content-center
    div
        i.fa-solid.fa-bolt-lightning.fa-2xl.me-2
        span.h1
            | Skills

    each skill in skills
        .card-angele.rounded.mb-3.mx-1
            .card-entete
                .black-cover
                img(src=skill.imagePath alt=skill.title)
                .p-3
                    h2.h5 #{skill.title}
                    span.small.text-gray #{skill.subtitle}
            .card-content.p-3
                h6 #{skill.technologiesTitle}
                ul.list-group.list-group-flush
                    each technology in skill.technologies
                        li.list-group-item #{technology}
